{% extends 'base.html.twig' %}

{% block body %}
    <section class="team-members">
        {% for chaqueMembre in team %}
            <article>
                <img src="{{ chaqueMembre.picture }}" alt="">
                <h3>{{ chaqueMembre.firstname }} {{ chaqueMembre.lastname }}
                    {{ chaqueMembre.lastname == "Potencier" ? "&#128151" : "" }}</h3>

            </article>
        {% endfor %}
    </section>
{% endblock %}

