{% extends 'base.html.twig' %}


        {% block body %}

                <div id="phrase">
                    <h1>Faites vos <a id="voeux" href="{{ path('wish_ajouterWish') }}">VOEUX</a></h1>


       {% if app.user == null %}
        <div id="connexion">
                <a id="login" href="{{ path('app_login') }}"><h2>Se connecter!</h2></a>
                <a id="register"href="{{ path('app_register') }}"><h2>S'inscrire !</h2></a>
        </div>
       {% endif %}
                </div>
        {% endblock %}
