{% extends 'base.html.twig' %}


        {% block body %}
        <h2>Welcome to Bucket-List!!</h2>
                <p>Lorem ipsum dolor sit amet. Sit alias sunt nam perspiciatis dignissimos quo quod impedit et quidem ipsam ut possimus quia aut saepe dicta et ratione mollitia! Et molestiae dolorem cum iusto sunt qui fugit reprehenderit non sint galisum qui dignissimos sint est consequatur provident. Nam similique earum est aliquam porro ut atque obcaecati aut officiis dolores rem asperiores sapiente.</p>
        {% endblock %}
