header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow:column;
    font-family:'Climate Crisis', cursive;
    border-bottom: solid 1px #4e555b;
}

#titre{
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: #4e555b;
    font-size: 1em;
}
nav{
    display: flex;
    font-family: 'Roboto Mono', monospace;
    font-weight:bolder;

}

header nav li:hover{
    text-decoration: line-through 2px #80bdff;
}

header nav ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

@counter-style thumbs {
    system: cyclic;
    symbols: "\002B50";
    suffix: " ";
}

main ul{
    width: 100%;
    margin: 1em 1em 0 10em;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    list-style-type: none;
    text-align: justify;
    display: flex;
    flex-direction:column;
}

main li p{
    font-size: 0.8em;
}

main li:hover{
    font-weight: bolder;
    font-size: 1em;
    list-style-type: thumbs;
}

#wishTitle{
    margin: 0.5em;
    display: block;
    width: 50%;
    float: left;
}

#deleteWish {
    width: 1.2em;
    margin-left: 2em;
}

#categorie{
    font-size: 0.5em;
}

#user{
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 0 1em 1em;
    color: #818182;
}
#user img{
    width: 2em;
    display: flex;
    flex-direction: row;
}

#connexion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
}

#login h2{
    width: 270px;
    padding-bottom: 5em;
    margin: 2em;
    border: solid #303030 0.2em  ;
    text-align: center;
}

#register h2{
    width: 270px;
    padding-bottom: 5em;
    margin: 2em;
    border: solid #303030 0.2em ;
    text-align: center;

}

#nowish{
    font-family:'Roboto Mono', monospace;
}

