*{
    color: #2e3436;
}

html{
    height: 100%;
}

body{
    width: 100%;
    min-height:100%;
    position: relative;
    text-align:center;

}

body #voeux{
    text-align: center;
    align-content: center;
    font-family:'Climate Crisis', cursive;
    color:#fcd34d;
}

#phrase{
    padding-top: 15em;
    text-align: center;
    vertical-align: center;

}

footer{
    height: 20vh;
    position:absolute ;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content : center;
}


a{
    text-decoration: none;
}